<ion-view view-title="DAILY SOCCER">
    <ion-content>
        <div class="padding">
            <ion-item class="item-balanced text-center text-dark no-border">
                <b>
                    เงื่อนไขการรับรางวัล
                </b>
                <br />
                <p class="text-dark">
                    ผู้โชคดีสามารถติดต่อรับของรางวัลได้ที่
                </p>
                <div class="text-white ">
                    {{ rewardCtrl.ContactNo }}
                </div>
            </ion-item>
        </div>
        <!-- รางวัลที่ได้ -->
        <div ng-show="rewardCtrl.CurrentRewards.length != 0">
            <div class="padding" >
                <span>คุณเป็นผู้โชคดีได้รับรางวัล</span>
            </div>
            <div class="list">
                <div class="item item-thumbnail-left no-border" ng-repeat="reward in rewardCtrl.CurrentRewards">
                    <img src="{{ reward.ImagePath }}" />
                    <p>
                        <i>
                            {{ reward.ExpiredDate | date: 'longDate' }}
                        </i>
                    </p>
                    <p>
                        รางวัลที่ {{ reward.Ordering }}
                    </p>
                    <p>
                        {{ reward.Description }}
                    </p>
                    <p>
                        <i>
                            รหัสของรางวัล
                        </i>
                    </p>
                    <b>
                        <i>
                            {{ reward.ReferenceCode }}
                        </i>
                    </b>
                </div>
            </div>
        </div>
        <!-- รางวัลที่เคยได้รับ -->     
        <div>
            <!-- มีของรางวัล -->
            <div class="col bg-gray text-center">
                รางวัลที่เคยได้รับ
            </div>
            <div class="padding" ng-repeat="reward in rewardCtrl.AllRewards">
                <span>
                    {{ reward.ExpiredDate | date: 'longDate' }}
                </span>
                <br />
                <span>
                    {{ reward.Description }}
                </span>
            </div>
            <!-- ไม่มีของรางวัล -->
            <div class="padding text-center" ng-show="rewardCtrl.AllRewards.length == 0">
                <i>
                    ไม่มีข้อมูลของรางวัล !
                </i>
            </div>

        </div>

    </ion-content>
</ion-view>