<ion-view view-title="DAILY SOCCER">
    <ion-content>
        <div class="padding">
            <ion-item class="item-balanced text-center text-dark no-border">
                <b>
                    เงื่อนไขการรับรางวัล
                </b>
                <br />
                <p class="text-dark">
                    ผู้โชคดีสามารถติดต่อรับของรางวัลได้ที่
                </p>
                <div class="text-white ">
                    02-159716 ต่อ 5
                </div>
            </ion-item>
        </div>
        <!-- รางวัลที่ได้ -->
        <div>
            <div class="padding">
                <span>คุณเป็นผู้โชคดีได้รับรางวัล</span>
            </div>
            <div class="list">
                <div class="item item-thumbnail-left no-border">
                    <img src="http://www.samsung.com/th/consumer-images/product/smartphone/2015/SM-G920FZKACAM/features/SM-G920FZKACAM-403979-0.jpg" />
                    <p>
                        <i>
                            วันที่ 20/12/2558
                        </i>
                    </p>
                    <p>
                        รางวัลที่ 1
                    </p>
                    <p>
                        Iphone 6 มูลค่า 25,000 บาท
                    </p>

                    <p>
                        <i>
                            รหัสของรางวัล
                        </i>
                    </p>
                    <b>
                        <i>
                            DS 1059
                        </i>
                    </b>
                </div>
                <div class="list">
                    <div class="item item-thumbnail-left no-border">
                        <img src="http://www.samsung.com/th/consumer-images/product/smartphone/2015/SM-G920FZKACAM/features/SM-G920FZKACAM-403979-0.jpg" />
                        <p>
                            <i>
                                วันที่ 20/12/2558
                            </i>
                        </p>
                        <p>
                            รางวัลที่ 5
                        </p>
                        <p>
                            Iphone 6 มูลค่า 25,000 บาท
                        </p>
                        <p>
                            <i>
                                รหัสของรางวัล
                            </i>
                        </p>
                        <b>
                            <i>
                                DS 1060
                            </i>
                        </b>
                    </div>
                </div>
            </div>
        </div>
        <!-- รางวัลที่เคยได้รับ -->     
        <div>
            <!-- มีของรางวัล -->
            <div class="col bg-gray text-center">
                รางวัลที่เคยได้รับ
            </div>
            <div class="padding">
                <span>
                    วันที่ 20/12/2558
                </span>
                <br />
                <span>
                    Iphone 6 plus มูลค่า 25,000 บาท (DS 1060)
                </span>
            </div>
            <div class="padding">
                <span>
                    วันที่ 20/12/2558
                </span>
                <br />
                <span>
                    Iphone 6 มูลค่า 23,000 บาท (DS 1061)
                </span>
            </div>
            <!-- ไม่มีของรางวัล -->
            <div class="padding text-center">
                <i>
                    ไม่มีข้อมูลของรางวัล !
                </i>
            </div>

        </div>

    </ion-content>
</ion-view>