<ion-view view-title="DAILY SOCCER">
    <ion-content>
        <ion-item class="bar bar-royal row">
            <div class="col col-10 col-center">
                <i>
                    <img src="img/Icons/StarWhite.png" height="20" />
                </i>
            </div>
            <div class="col col-center">
                แต้มสะสม {{ rewardCtrl.accountManagementSvc.CurrentPoints }}
            </div>
            <div class="col col-center">
                <a menu-close href="#/ticket/buyticket" class=" button button-full bg-yellow font-large">
                    ซื้อคูปอง
                </a>
            </div>
        </ion-item>
        <div class="item item-stable no-border">
            <div class="">
                แลกซื้อคูปองไปแล้วทั้งหมด {{ rewardCtrl.accountManagementSvc.CurrentOrderedCoupon }} ใบ
            </div>
        </div>
        <div class="item no-border text-center no-padding-bottom">
            <div class="">
                รางวัลประจำสัปดาห์
            </div>
        </div>

        <div class="item no-border text-right" ng-repeat="reward in rewardCtrl.RewardInfo.Rewards">
            <div>
                <img class="col" src="{{ reward.ImagePath }}" />
            </div>
            <div class="">
                จำนวน {{ reward.RemainingAmount }} รางวัล
            </div>
        </div>

        <!-- No Reward -->
        <div class="item no-border text-right" ng-show="rewardCtrl.RewardInfo.Rewards.length == 0">
            <div>
                <img class="col" src="img/Logos/NoRewardx1.png" bh-src-responsive="[ [ 'small', 'img/Logos/NoRewardx2.png' ], [ 'medium', 'img/Logos/NoRewardx3.png' ], [ 'retina', 'img/Logos/NoRewardx3.png' ] ]"/>
            </div>
        </div>
    </ion-content>
</ion-view>