<ion-view view-title="DAILY SOCCER">
    <ion-content class="">
        <!-- มีผู้รับรางวัล -->
        <div class="item no-border" ng-repeat="reward in rewardCtrl.WinnersInfo.Winners">
            <div>
                <b>
                    รางวัลที่ {{reward.Ordering}}
                </b>
                <br />
                <b>
                    {{reward.Description}}
                </b>
            </div>
            <div>
                <p ng-show="reward.Winners.length==0">
                    <i>
                        - ไม่มีผู้โชคดีได้รับรางวัล
                    </i>
                </p>
                <p ng-repeat="winners in reward.Winners">
                    <i>
                        - {{winners}}
                    </i>
                </p>
            </div>
            <div>
                <img class="col" src="{{reward.ImagePath}}" />
            </div>
        </div>
        <!-- ไม่มีรางวัล -->
        <div class="item no-border text-right" ng-show="rewardCtrl.WinnersInfo.Winners.length==0">
            <div>
                <img class="col" src="img/Logos/NoReward.png" />
            </div>
        </div>
    </ion-content>
</ion-view>