<ion-view view-title="DAILY SOCCER">
    <ion-content>
        <ion-item class="bar bar-royal row">
            <div class="col col-10 col-center">
                <i>
                    <img src="img/Icons/StarWhite.png" height="20" />
                </i>
            </div>
            <div class="col col-center">
                แต้มสะสม 7500
            </div>
            <div class="col col-center">
                <a menu-close href="#/ticket/buyticket" class=" button button-full bg-yellow font-large">
                    ซื้อคูปอง
                </a>
            </div>
        </ion-item>
        <div class="item item-stable no-border">
            <div class="">
                แลกซื้อคูปองไปแล้วทั้งหมด 5 ใบ
            </div>
        </div>
        <div class="item no-border text-center no-padding-bottom">
            <div class="">
                รางวัลประจำสัปดาห์
            </div>
        </div>
        <div class="item no-border text-right">
            <div>
                <img class="col" src="http://www.samsung.com/th/consumer-images/product/smartphone/2015/SM-G920FZKACAM/features/SM-G920FZKACAM-403979-0.jpg"/>
            </div>
            <div class="">
                จำนวน 5 รางวัล
            </div>
        </div>
        <div class="item no-border text-right">
            <div>
                <img class="col" src="http://www.samsung.com/th/consumer-images/product/smartphone/2015/SM-G920FZKACAM/features/SM-G920FZKACAM-403979-0.jpg" />
            </div>
            <div class="">
                จำนวน 2 รางวัล
            </div>
        </div>
        <!-- No Reward -->
        <div class="item no-border text-right">
            <div>
                <img class="col" src="img/Logos/NoReward.png" />
            </div>
        </div>
    </ion-content>
</ion-view>