<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--Local Database-->
    <add name="DailySoccerModelContainer" connectionString="metadata=res://*/DAC.EF.DailySoccerModel.csdl|res://*/DAC.EF.DailySoccerModel.ssdl|res://*/DAC.EF.DailySoccerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sqlexpress;initial catalog=DAILYSOCCER_V0090;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--Production Database-->
    <!--<add name="DailySoccerModelContainer" connectionString="metadata=res://*/DAC.EF.DailySoccerModel.csdl|res://*/DAC.EF.DailySoccerModel.ssdl|res://*/DAC.EF.DailySoccerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:dailysoccer.database.windows.net,1433;Database=DAILYSOCCER_V0090;User ID=databaseadmin@dailysoccer;Password=databaseP@ssw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>