<div>
    <img class="col no-padding" src="../../img/Logos/Banner.png" />
    <div class="padding">
        <a menu-close href="#/rewards/rewards" class="button-small button bg-yellow row">
            <div class="col col-10 col-center">
                <i>
                    <img src="../img/Icons/Star.png" height="25" />
                </i>
            </div>
            <span class="col col-center text-left font-large">
                แต้มสะสม 7500
            </span>
        </a>
    </div>
</div>