<ion-view view-title="DAILY SOCCER">
    <ion-content class="today-match">
        <div ng-include src="'templates/Matches/_matchHeaderAds.html'" class="padding-bottom"></div>
        <ion-list>
            <div ng-repeat="history in historyCtrl.HistoryByMonthInfo.Histories" class="padding-bottom">
                <ion-item class="item-stable bg-gray row no-padding no-border line-height-small"
                          ng-click="historyCtrl.toggleGroup(history)"
                          ng-class="{active: historyCtrl.isGroupShown(history)}">
                    <div class="col col-20 col-center text-center">
                        <b>+{{history.TotalPoints}}</b>
                    </div>
                    <div class="col col-center text-center">
                        {{history.Day | date: 'd MMMM yyyy'}}
                    </div>
                    <dsiv class="col col-20 col-center text-right">
                        <i class="icon" ng-class="historyCtrl.isGroupShown(history ) ? 'ion-chevron-down' : 'ion-chevron-up'"></i>
                    </dsiv>
                </ion-item>
                <ion-item class="item-accordion no-padding no-border" ng-show="historyCtrl.isGroupShown(history )" animation="no-animation">
                    <div class="row padding-bottom" ng-repeat="match in history.Matches">
                        <div class="col col-40 item"
                             ng-class="{'item-stable': !match.TeamHome.IsSelected,
                            'item-balanced': match.TeamHome.IsSelected && match.TeamHome.CurrentScore > match.TeamAway.CurrentScore,
                            'item-royal': match.TeamHome.IsSelected && match.TeamHome.CurrentScore < match.TeamAway.CurrentScore,
                            'item-draw-status': match.TeamHome.IsSelected && match.TeamHome.CurrentScore == match.TeamAway.CurrentScore}">
                            <span class="status status-left bg-yellow" ng-show="match.TeamHome.IsSelected && match.TeamHome.CurrentScore >= match.TeamAway.CurrentScore">+{{ match.TeamAway.WinningPredictionPoints }}</span>
                            <span class="status status-left bg-red" ng-show="match.TeamHome.IsSelected && match.TeamHome.CurrentScore < match.TeamAway.CurrentScore">L</span>
                            <div class="text-right row row-center no-padding">
                                <div class="col col-20 col-center no-padding text-left">
                                    <span ng-show="match.TeamHome.IsSelected">
                                        (+{{ match.TeamHome.WinningPredictionPoints }})
                                    </span>
                                </div>
                                <div class="col col-70 col-center no-padding team-name">
                                    <span>
                                        {{ match.TeamHome.Name }}
                                    </span>
                                </div>
                                <div class="col col-10 col-center no-padding">
                                    <span>
                                        {{ match.TeamHome.CurrentPredictionPoints }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col col-20 col-center box-score item item-dark ">
                            <div class="col-center">
                                <span class="status status-left">FT</span>
                                <div class="text-center padding-vertical">
                                    <span>{{ match.TeamHome.CurrentScore }}</span>
                                    <span> - </span>
                                    <span>{{ match.TeamAway.CurrentScore }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col col-40 item"
                             ng-class="{'item-stable': !match.TeamAway.IsSelected,
                            'item-calm': match.TeamAway.IsSelected && !match.CompletedDate,
                            'item-balanced': match.TeamAway.IsSelected && match.TeamHome.CurrentScore < match.TeamAway.CurrentScore,
                            'item-royal': match.TeamAway.IsSelected && match.TeamHome.CurrentScore > match.TeamAway.CurrentScore,
                            'item-draw-status': match.TeamAway.IsSelected && match.TeamHome.CurrentScore == match.TeamAway.CurrentScore}">
                            <span class="status status-right bg-yellow" ng-show="match.TeamAway.IsSelected && match.TeamHome.CurrentScore <= match.TeamAway.CurrentScore">+{{ match.TeamAway.WinningPredictionPoints }}</span>
                            <span class="status status-right bg-red" ng-show="match.TeamAway.IsSelected && match.TeamHome.CurrentScore > match.TeamAway.CurrentScore">L</span>
                            <div class="text-left row row-center no-padding">
                                <div class="col col-10 col-center no-padding">
                                    <span>
                                        {{ match.TeamAway.CurrentPredictionPoints }}
                                    </span>
                                </div>
                                <div class="col col-70 col-center no-padding team-name">
                                    <span>
                                        {{ match.TeamAway.Name }}
                                    </span>
                                </div>
                                <div class="col col-20 col-center no-padding text-right">
                                    <span ng-show="match.TeamAway.IsSelected">
                                        (+{{ match.TeamAway.WinningPredictionPoints }})
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </div>


        </ion-list>
    </ion-content>
</ion-view>
