<ion-view view-title="History by month">
    <ion-content>
        
        <button class="button button-block button-stable">
            stable
        </button>

        <button class="button button-block button-positive">
            positive
        </button>

        <button class="button button-block button-calm">
            calm
        </button>

        <button class="button button-block button-balanced">
            balanced
        </button>

        <button class="button button-block button-energized">
            energized
        </button>

        <button class="button button-block button-dark">
            dark
        </button>
        <button class="button button-block button-royal">
            royal
        </button>
        <button class="button button-block bg-yellow">
            .bg-yellow
        </button>

        <button class="button button-block bg-gray">
            .bg-gray
        </button>
    </ion-content>
</ion-view>