<ion-view view-title="DAILY SOCCER">
    <ion-content class="today-match">
        <div ng-include src="'templates/Matches/_matchHeaderAds.html'" class="padding-bottom"></div>
        <ion-list>
            <div ng-repeat="group in groups" class="padding-bottom">
                <ion-item class="item-stable bg-gray row no-padding no-border line-height-small"
                          ng-click="toggleGroup(group)"
                          ng-class="{active: isGroupShown(group)}">
                    <div class="col col-20 col-center text-center">
                        <b>+20</b>
                    </div>
                    <div class="col col-center text-center">
                        22 พฤษจิกายน 2558
                    </div>
                    <dsiv class="col col-20 col-center text-right">
                        <i class="icon" ng-class="isGroupShown(group) ? 'ion-chevron-down' : 'ion-chevron-up'"></i>
                    </dsiv>
                </ion-item>
                <ion-item class="item-accordion no-padding no-border"
                          ng-show="isGroupShown(group)" animation="no-animation">                    
                    <div class="row padding-bottom">
                        <div class="col col-40 item">
                            <span class="status status-left bg-yellow">+6</span>
                            <span class="status status-left bg-red">L</span>
                            <div class="text-right row row-center no-padding">
                                <div class="col col-20 col-center no-padding text-left">
                                    <span>
                                        (+5)
                                    </span>
                                </div>
                                <div class="col col-70 col-center no-padding team-name">
                                    <span>
                                        Manchester City
                                    </span>
                                </div>
                                <div class="col col-10 col-center no-padding">
                                    <span>
                                        10
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col col-20 col-center box-score item item-dark ">
                            <div class="col-center">
                                <span class="status status-left">FT</span>
                                <div class="text-center padding-vertical">
                                    <span>17:40</span>
                                </div>
                                <div class="text-center padding-vertical">
                                    <span>5</span>
                                    <span> - </span>
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                        <div class="col col-40 item">
                            <span class="status status-right bg-yellow">+6</span>
                            <span class="status status-right bg-red">L</span>
                            <div class="text-left row row-center no-padding">
                                <div class="col col-10 col-center no-padding">
                                    <span>
                                        2
                                    </span>
                                </div>
                                <div class="col col-70 col-center no-padding team-name">
                                    <span>
                                        Liverpool
                                    </span>
                                </div>
                                <div class="col col-20 col-center no-padding text-right">
                                    <span>
                                        (+5)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-bottom">
                        <div class="col col-40 item">
                            <span class="status status-left bg-yellow">+6</span>
                            <span class="status status-left bg-red">L</span>
                            <div class="text-right row row-center no-padding">
                                <div class="col col-20 col-center no-padding text-left">
                                    <span>
                                        (+5)
                                    </span>
                                </div>
                                <div class="col col-70 col-center no-padding team-name">
                                    <span>
                                        Manchester City
                                    </span>
                                </div>
                                <div class="col col-10 col-center no-padding">
                                    <span>
                                        10
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col col-20 col-center box-score item item-dark ">
                            <div class="col-center">
                                <span class="status status-left">FT</span>
                                <div class="text-center padding-vertical">
                                    <span>17:40</span>
                                </div>
                                <div class="text-center padding-vertical">
                                    <span>5</span>
                                    <span> - </span>
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                        <div class="col col-40 item">
                            <span class="status status-right bg-yellow">+6</span>
                            <span class="status status-right bg-red">L</span>
                            <div class="text-left row row-center no-padding">
                                <div class="col col-10 col-center no-padding">
                                    <span>
                                        2
                                    </span>
                                </div>
                                <div class="col col-70 col-center no-padding team-name">
                                    <span>
                                        Liverpool
                                    </span>
                                </div>
                                <div class="col col-20 col-center no-padding text-right">
                                    <span>
                                        (+5)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </div>
            
            
        </ion-list>
    </ion-content>
</ion-view>
