<ion-view view-title="DAILY SOCCER">
    <ion-content class="has-subheader">
        <div ng-include src="'templates/Matches/_matchHeaderAds.html'"></div>
        <div ng-include src="'templates/Matches/_matchHeaderScore.html'"></div>
        <ion-list>
            <div class="row padding-bottom" ng-repeat="match in matchCtrl.TodayMatches">
                <div class="col col-40 item" 
                     ng-class="{'item-stable': !match.TeamHome.IsSelected,
                     'item-calm': match.TeamHome.IsSelected && !match.CompletedDate,
                     'item-balanced': match.TeamHome.IsSelected && match.CompletedDate && match.TeamHome.CurrentScore > match.TeamAway.CurrentScore,
                     'item-royal': match.TeamHome.IsSelected && match.CompletedDate && match.TeamHome.CurrentScore < match.TeamAway.CurrentScore,
                     'item-draw-status': match.TeamHome.IsSelected && match.CompletedDate && match.TeamHome.CurrentScore == match.TeamAway.CurrentScore}"
                     ng-click="match.CompletedDate || matchCtrl.SelectTeam(match, match.TeamHome.Id)">
                    <span class="status status-left bg-yellow" ng-show="match.CompletedDate && match.TeamHome.IsSelected && match.TeamHome.CurrentScore >= match.TeamAway.CurrentScore">+{{ match.TeamAway.WinningPredictionPoints }}</span>
                    <span class="status status-left bg-red" ng-show="match.CompletedDate && match.TeamHome.IsSelected && match.TeamHome.CurrentScore < match.TeamAway.CurrentScore">L</span>
                    <div class="text-right padding-vertical">
                        <span ng-show="match.TeamHome.IsSelected" >
                            (+{{ match.TeamHome.WinningPredictionPoints }})
                        </span>
                        <span class="team-name">
                            {{ match.TeamHome.Name }}
                        </span>
                        <span>
                            {{ match.TeamHome.CurrentPredictionPoints }}
                        </span>
                    </div>
                </div>
                <div class="col col-20 col-center item item-dark ">
                    <div class="col-center">
                        <span class="status status-left" ng-class="{'energized': !match.CompletedDate, 'stable': match.CompletedDate}" >{{ match.Status }}</span>
                        <div class="text-center padding" ng-show="!match.StartedDate">
                            <span>{{ match.BeginDate | date : 'hh:mm'}}</span>
                        </div>
                        <div class="text-center padding" ng-show="match.StartedDate">
                            <span>{{ match.TeamHome.CurrentScore }}</span>
                            <span> - </span>
                            <span>{{ match.TeamAway.CurrentScore }}</span>
                        </div>
                    </div>
                </div>
                <div class="col col-40 item" 
                     ng-class="{'item-stable': !match.TeamAway.IsSelected,
                     'item-calm': match.TeamAway.IsSelected && !match.CompletedDate,
                     'item-balanced': match.TeamAway.IsSelected && match.CompletedDate && match.TeamHome.CurrentScore < match.TeamAway.CurrentScore,
                     'item-royal': match.TeamAway.IsSelected && match.CompletedDate && match.TeamHome.CurrentScore > match.TeamAway.CurrentScore,
                     'item-draw-status': match.TeamAway.IsSelected && match.CompletedDate && match.TeamHome.CurrentScore == match.TeamAway.CurrentScore}"
                     ng-click="match.CompletedDate || matchCtrl.SelectTeam(match, match.TeamAway.Id)">
                    <span class="status status-right bg-yellow" ng-show="match.CompletedDate && match.TeamAway.IsSelected && match.TeamHome.CurrentScore <= match.TeamAway.CurrentScore">+{{ match.TeamAway.WinningPredictionPoints }}</span>
                    <span class="status status-right bg-red" ng-show="match.CompletedDate && match.TeamAway.IsSelected && match.TeamHome.CurrentScore > match.TeamAway.CurrentScore">L</span>
                    <div class="text-left padding-vertical">
                        <span>
                            {{ match.TeamAway.CurrentPredictionPoints }}
                        </span>
                        <span class="team-name">
                            {{ match.TeamAway.Name }}
                        </span>
                        <span ng-show="match.TeamAway.IsSelected">
                            (+{{ match.TeamAway.WinningPredictionPoints }})
                        </span>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>