<ion-view view-title="Today matches">
    <ion-content>
        <h1>Match 01</h1><br />
        <h1>Match 02</h1><br />
        <h1>Match 03</h1><br />
        <h1>Match 04</h1><br />
        <h1>Match 05</h1><br />
        <h1>Match 06</h1><br />
        <h1>Match 07</h1><br />
        <h1>Match 08</h1><br />
        <h1>Match 09</h1><br />
        <h1>Match 10</h1><br />
        <h1>Match 11</h1><br />
        <h1>Match 12</h1><br />
        <h1>Match 13</h1><br />
        <h1>Match 14</h1><br />
        <h1>Match 15</h1><br />
        <h1>Match 16</h1><br />
        <h1>Match 17</h1><br />
        <h1>Match 18</h1><br />
        <h1>Match 19</h1><br />
        <h1>Match 20</h1><br />
    </ion-content>
</ion-view>