<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content class="match-template">
        <ion-nav-bar class="bar-balanced" align-title="center">
            <ion-nav-buttons side="left">
                <div class="button">
                    <img width="35" height="35" src="img/Icons/Trophyx1.png" bh-src-responsive="[ [ 'small', 'img/Icons/Trophyx2.png' ], [ 'medium', 'img/Icons/Trophyx3.png' ], [ 'retina', 'img/Logos/img/Icons/Trophyx3.png' ] ]"/>
                    <div class="soccer-number">
                        {{ matchCtrl.RemainingGuessAmount }}
                    </div>
                </div>       
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon ion-navicon" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-tabs delegate-handle="calendarTabs" class="tabs-dark tabs-top">
            <ion-tab title="{{ matchCtrl.PastTwoDaysDate | date: 'EEE' }}<br>{{ matchCtrl.PastTwoDaysDate | date: 'd' }}" on-select="matchCtrl.SelectDay(matchCtrl.PastTwoDaysDate)">
            </ion-tab>
            <ion-tab title="{{ matchCtrl.PastOneDaysDate | date: 'EEE' }}<br>{{ matchCtrl.PastOneDaysDate | date: 'd' }}" on-select="matchCtrl.SelectDay(matchCtrl.PastOneDaysDate)">
            </ion-tab>
            <ion-tab title="{{ matchCtrl.CurrentDate | date: 'EEE' }}<br>{{ matchCtrl.CurrentDate | date: 'd' }}" on-select="matchCtrl.SelectDay(matchCtrl.CurrentDate)">
            </ion-tab>
            <ion-tab title="{{ matchCtrl.FutureOneDaysDate | date: 'EEE' }}<br>{{ matchCtrl.FutureOneDaysDate | date: 'd' }}" on-select="matchCtrl.SelectDay(matchCtrl.FutureOneDaysDate)">
            </ion-tab>
            <ion-tab title="{{ matchCtrl.FutureTwoDaysDate | date: 'EEE' }}<br>{{ matchCtrl.FutureTwoDaysDate | date: 'd' }}" on-select="matchCtrl.SelectDay(matchCtrl.FutureTwoDaysDate)">
            </ion-tab>
        </ion-tabs>
        <ion-nav-view  name="MainContent"></ion-nav-view>
    </ion-side-menu-content>

    <div ng-include src="'templates/SideMenu.html'"></div>
</ion-side-menus>
