<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <div class="tabs-striped tabs-top tabs-background-positive">
            <div class="tabs">
                <a class="tab-item active" href="#">
                    1
                </a>
                <a class="tab-item" href="#">
                    2
                </a>
                <a class="tab-item" href="#">
                    3
                </a>
                <a class="tab-item" href="#">
                    4
                </a>
                <a class="tab-item" href="#">
                    5
                </a>
            </div>
        </div>
        <ion-nav-view class="XXX" name="MainContent"></ion-nav-view>
    </ion-side-menu-content>

    <div ng-include src="'/templates/SideMenu.html'"></div>
</ion-side-menus>
