<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content class="match-template">
        <ion-nav-bar class="bar-balanced" align-title="center">
            <ion-nav-buttons side="left">
                <div class="button">
                    <img width="35" height="35" src="img/Icons/Trophy.png" />
                    <div class="soccer-number">
                        {{ matchCtrl.RemainingGuessAmount }}
                    </div>
                </div>       
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon ion-navicon" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-tabs class="tabs-dark tabs-top">
            <ion-tab title="{{ matchCtrl.PastTwoDaysDate | date: 'EEE' }}<br>{{ matchCtrl.PastTwoDaysDate | date: 'd' }}">
                <ion-view view-title="Welcome">
                    <ion-content>
                        <div ng-include src="'templates/Matches/_matchHeader.html'"></div>
                        <h1>
                            Tab 1
                        </h1>
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="{{ matchCtrl.PastOneDaysDate | date: 'EEE' }}<br>{{ matchCtrl.PastOneDaysDate | date: 'd' }}">
                <!-- Tab 2 content -->
                <ion-view view-title="Welcome">
                    <ion-content>
                        <div ng-include src="'templates/Matches/_matchHeader.html'"></div>
                        <div class="buttons">
                            <button class="button button-dark" ng-click="MatchPopup.show()">Modal</button>
                        </div>
                        <h1>
                            Tab 2
                        </h1>
                    </ion-content>
                </ion-view>

            </ion-tab>
            <ion-tab title="{{ matchCtrl.CurrentDate | date: 'EEE' }}<br>{{ matchCtrl.CurrentDate | date: 'd' }}">
                <ion-nav-view name="MainContent"></ion-nav-view>
            </ion-tab>
            <ion-tab title="{{ matchCtrl.FutureOneDaysDate | date: 'EEE' }}<br>{{ matchCtrl.FutureOneDaysDate | date: 'd' }}">
                <ion-view view-title="Welcome">
                    <ion-content>
                        <div ng-include src="'templates/Matches/_matchHeader.html'"></div>
                        <h1>
                            Tab 4
                        </h1>
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="{{ matchCtrl.FutureTwoDaysDate | date: 'EEE' }}<br>{{ matchCtrl.FutureTwoDaysDate | date: 'd' }}">
                <ion-view view-title="Welcome">
                    <ion-content>
                        <div ng-include src="'templates/Matches/_matchHeader.html'"></div>
                        <h1>
                            Tab 5
                        </h1>
                    </ion-content>
                </ion-view>
            </ion-tab>
        </ion-tabs>
    </ion-side-menu-content>

    <div ng-include src="'templates/SideMenu.html'"></div>
</ion-side-menus>
