<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
            </ion-nav-buttons>
            <div class="tabs-striped tabs-top tabs-background-positive">
                <div class="tabs">
                    <a class="tab-item active" href="#">
                        ของรางวัล
                    </a>
                    <a class="tab-item" href="#">
                        รายชื่อผู้โชคดี
                    </a>
                    <a class="tab-item" href="#">
                        ติดต่อรับของ
                    </a>
                </div>
            </div>
        </ion-nav-bar>
        <ion-nav-view name="MainContent"></ion-nav-view>
    </ion-side-menu-content>
    <div ng-include src="'/templates/SideMenu.html'"></div>
</ion-side-menus>
