<ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Side menu</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item menu-close href="#/matches/todaymatches">
                <i class="icon ion-home"></i>
                ตารางแข่งขัน
            </ion-item>
            <ion-item menu-close href="#/rewards/rewards">
                <i class="icon ion-home"></i>
                แลกของรางวัล
            </ion-item>
            <ion-item menu-close href="#/history/historybymonth">
                <i class="icon ion-home"></i>
                สถิติการทายผล
            </ion-item>
            <ion-item menu-close ng-click="login()">
                <i class="icon ion-home"></i>
                เข้าสู่ระบบ
            </ion-item>
        </ion-list>
    </ion-content>
</ion-side-menu>