<ion-side-menu side="right" class="side-menu" cache-view="false" ng-controller="starter.sidemenu.SideMenuController as sidemenuCtrl">
    <ion-header-bar class="bar-dark row">
        <div class="col col-10 col-center">
            <i>
                <img src="img/Icons/StarWhitex1.png" height="20" bh-src-responsive="[ [ 'small', 'img/Icons/StarWhitex2.png' ], [ 'medium', 'img/Icons/StarWhitex3.png' ], [ 'retina', 'img/Icons/StarWhitex3.png' ] ]"/>
            </i>
        </div>
        <div class="col col-center">
            แต้มสะสม {{ sidemenuCtrl.AccountManagementService.GetAccountInformation().Points }}
        </div>
        <div class="col col-center">
                <a menu-close href="#/rewards/rewards" class="button-small block button bg-yellow">
                    แลกของรางวัล
                </a>
        </div>
    </ion-header-bar>
    <ion-content  class="padding">
        <ion-list >
            <ion-item menu-close href="#/matches/todaymatches" class="item-royal ">
                <div class="text-gray">
                    <i>
                        <img class="vertical-middle" height="36"  src="img/Icons/MenuIcon1x1.png" bh-src-responsive="[ [ 'small', 'img/Icons/MenuIcon1x2.png' ], [ 'medium', 'img/Icons/MenuIcon1x3.png' ], [ 'retina', 'img/Icons/MenuIcon1x3.png' ] ]"/>
                    </i>
                    <span class="vertical-middle">
                        ตารางแข่งขัน
                    </span>
                </div>          
            </ion-item>
            <ion-item menu-close href="#/underconstruction/underconstruction" class="item-royal">
                <div class="text-gray">
                    <i >
                        <img class="vertical-middle" height="36" src="img/Icons/MenuIcon2x1.png" bh-src-responsive="[ [ 'small', 'img/Icons/MenuIcon2x2.png' ], [ 'medium', 'img/Icons/MenuIcon2x3.png' ], [ 'retina', 'img/Icons/MenuIcon2x3.png' ] ]"/>
                    </i>
                    <span class="vertical-middle">
                        ทีมและลีค
                    </span>
                </div>     
            </ion-item>
            <ion-item menu-close href="#/history/historybymonth" class="item-royal">
                <div class="text-gray">
                    <i >
                        <img class="vertical-middle" height="36" src="img/Icons/MenuIcon3x1.png" bh-src-responsive="[ [ 'small', 'img/Icons/MenuIcon3x2.png' ], [ 'medium', 'img/Icons/MenuIcon3x3.png' ], [ 'retina', 'img/Icons/MenuIcon3x3.png' ] ]"/>
                    </i>
                    <span class="vertical-middle" >
                        สถิติการทายผล
                    </span>
                </div>
            </ion-item>
            <ion-item menu-close ng-click="login()" class="item-royal" href="#/underconstruction/underconstruction">
                <div class="text-gray">
                    <i >
                        <img class="vertical-middle" height="36" src="img/Icons/MenuIcon4x1.png" bh-src-responsive="[ [ 'small', 'img/Icons/MenuIcon4x2.png' ], [ 'medium', 'img/Icons/MenuIcon4x3.png' ], [ 'retina', 'img/Icons/MenuIcon4x3.png' ] ]"/>
                    </i>
                    <span class="vertical-middle">
                        ตั้งค่า
                    </span>
                </div>
                
            </ion-item>
            <ion-item menu-close href="#" class="item-royal" ng-click="sidemenuCtrl.Logout()" ng-show="sidemenuCtrl.IsLogedIn()">
                <div class="text-gray">
                    <i>
                        <img class="vertical-middle"  height="36" src="img/Icons/MenuIcon5x1.png" bh-src-responsive="[ [ 'small', 'img/Icons/MenuIcon5x2.png' ], [ 'medium', 'img/Icons/MenuIcon5x3.png' ], [ 'retina', 'img/Icons/MenuIcon5x3.png' ] ]"/>
                    </i>
                    <span class="vertical-middle">
                        ออกจากระบบ
                    </span>
                </div>                
            </ion-item>

            <a ng-show="!sidemenuCtrl.IsLogedIn()" class="button button-block bg-gray text-dark" href="#" ng-click="sidemenuCtrl.LoginWithFacebookPopup()">เข้าสู่ระบบ</a>

            <div class="space-top">
                <a menu-close class="button button-block button-balanced " href="#/underconstruction/underconstruction">
                    <div class="padding">
                        <h2 class="text-white">
                            <img height="40" src="img/Icons/Playgamex1.png" bh-src-responsive="[ [ 'small', 'img/Icons/Playgamex2.png' ], [ 'medium', 'img/Icons/Playgamex3.png' ], [ 'retina', 'img/Icons/Playgamex3.png' ] ]"/>
                            เล่นเกมส์
                        </h2>
                    </div>
                </a>
            </div>
        </ion-list>
    </ion-content>
</ion-side-menu>