<ion-view class="">
    <ion-header-bar align-title="left" class="bar-positive">
        <div class="title">
            <h1 class="title row">
                <span class="col-offset-10 col-10"><img class="" height="45" src="../../img/Logos/FcLogo.png" /></span><span class="title">เลือกทีมที่ชอบ</span>
            </h1>
        </div>

    </ion-header-bar>
    <ion-content has-header="true">
        <div class="title padding row">
            <label class="border-radius-large row item item-positive bar-balanced">
                <div class="buttons buttons-icon">
                <button class="button button-icon button-small icon-left ion-chevron-left button-clear button-white"></button>
                </div>
                <div class=" text-center col">
                <span>อังกฤษ พรีเมียร์ลีก</span>
                </div>
                <div class="buttons buttons-icon bar-balanced">
                    <button class="button button-icon button-small icon-left ion-chevron-right button-clear button-white"></button>
                </div>
            </label>
        </div>
        <div class="row"  ng-repeat="league in accountCtrl.DisplayLeague">
            <label class="col no-border item item-radio ng-valid" ng-model="choice">
                <input class="ng-valid ng-dirty ng-touched ng-valid-parse" type="radio" name="radio-group" ng-model="choice" ng-value="{{ league.TeamId }}" ng-click="accountCtrl.SelectFavoriteTeam(league.TeamId)">
                <div class="radio-content">
                    <div class="item-content item-royal disable-pointer-events">
                        <span>{{ league.TeamName }}</span>
                    </div>
                    <i class="radio-icon disable-pointer-events icon ion-ios-star"></i>
                </div>
            </label>
        </div>

    </ion-content>
    <ion-footer-bar align-title="left" class="bar-balanced" ng-class="{hide: accountCtrl.isHideSkipButton}">
        <h1 class="title text-right">
            <a menu-close ng-click="accountCtrl.SetFavoriteTeam()" href="#">
                เริ่มต้นใช้งาน >>
            </a>
        </h1>
    </ion-footer-bar>
</ion-view>