<ion-view class="bg-main scroll-middle" ng-init="accountCtrl.CheckLocalStorageAccount()">
        <ion-content has-header="true" padding="true">
            <div class="row row-center">
                <div class="col col-center">
                    <div>
                        <img class=" col col-75 block-center" src="img/Logos/LogoLoginx1.png" bh-src-responsive="[ [ 'small', 'img/Logos/LogoLoginx2.png' ], [ 'medium', 'img/Logos/LogoLoginx3.png' ], [ 'retina', 'img/Logos/LogoLoginx3.png' ] ]" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button ng-click="accountCtrl.LoginWithFacebook()" class="button col col-75 block-center button-calm">เข้าใช้งานผ่าน Facebook</button>
                </div>
            </div>
        </ion-content>
    <ion-footer-bar align-title="left" class="bar-balanced" ng-hide="accountCtrl.isHideSkipButton">
        <h1 class="title text-right">
            <a menu-close ng-click="accountCtrl.SkipLogin()" href="#">
                เริ่มต้นใช้งาน >>
            </a>
        </h1>
    </ion-footer-bar>
</ion-view>