<ion-view class="bg-main">
    <ion-content class="text-center">
        <div class="space-top">
            <img class="col-67" src="img/Logos/LogoLogin.png" />
        </div>
        <br />

        <button ng-click="accountCtrl.LoginWithFacebook()" class="button col-80 button-calm">เข้าใช้งานผ่าน Facebook</button>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-balanced">
        <h1 class="title text-right">
            <a menu-close ng-click="accountCtrl.SkipLogin()" href="#">
                เริ่มต้นใช้งาน >>
            </a>
        </h1>
    </ion-footer-bar>
</ion-view>