<ion-modal-view class="scroll-middle">
    <ion-content>
        <div class="text-center padding">
            <h5>กรุณาลงทะเบียนก่อนร่วมกิจกรรมลุ้นรางวัล</h5>
        </div>
        <div class="row row-center">
            <div class="col col-center">
                <div class="padding-bottom">
                    <button class="button button-small block-center col button-calm">ลงทะเบียนผ่าน Facebook</button>
                </div>
                <div>
                    <button class="button button-small block-center col button-royal" ng-click="MatchPopup.hide()">ยกเลิก</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>