<ion-view view-title="DAILY SOCCER">
    <ion-content>
        <ion-item class="item item-royal ">
            <div class="padding col row">
                <span class="">
                    <i>
                        เบอร์รโทรศัพท์ของคคุณ
                    </i>
                    <br />
                    <i class="font-large">
                        {{ accountCtrl.$stateParams.phoneNumber }}
                    </i>
                </span>
            </div>
            <br />
            <div class="col block-center row text-center">
                <a href="#/verify/verifycode" class="button button-balanced col col-50 button-small block-center">
                    ขอรหัสใหม่อีกครั้ง
                </a>
            </div>
        </ion-item>
        <br />
        <form class="text-center">
            <p class="col row row ">
                <b>รหัสยืนยัน</b>
            </p>
            <div class="col row">
                <p>
                    <input type="text" class=" col col-50 input-number block-center no-padding" />
                </p>
            </div>
            <div class="col row">
                <a href="#" class="button bg-yellow col col-50 button-small block-center ">
                    ยืนยันรหัส
                </a>
            </div>
        </form>
    </ion-content>
</ion-view>