<ion-view view-title="DAILY SOCCER">
    <ion-content class="verify-phone-number">
        <ion-item class="item item-royal ">
            <form class="text-center">
                <span class="col row ">
                    ยืนยันเบอร์โทร
                </span>
                <div class=" margin-bottom col row ">
                    <p>
                        <span class="text-white col col-67 block-center no-padding text-left">กรอกเบอร์โทร</span>
                        <br />
                        <input type="tel" class=" col col-67 input-number block-center no-padding" ng-model="phoneNumber" />
                    </p>
                </div>
                <div class="col col-67 block-center row">
                    <div class="button button-balanced col col-50 col-offset-50 button-small" ng-click="accountCtrl.SendRequestVerifyPhoneNumber(phoneNumber)">
                        รับรหัสผ่าน
                    </div>
                </div>
            </form>
        </ion-item>
        <br />
        <div class="padding col row">
            <span class="">
                <i>
                    กรุณากรอกเบอร์โทรศัพท์ที่ถูกต้องเพื่อใช้ในการยืนยันรับของรางวัล หากทีมงานไม่สามารถติดต่อได้จะถือว่าท่านได้ทำการสละสิทธิ์รางวัลนั้นๆ
                </i>
            </span>
        </div>


    </ion-content>
</ion-view>